[Desktop Entry]
Type=Application
Name=Dell Power Manager
Name[fr]=Dell Power Manager
Comment=Manage thermal profile, battery charging and BIOS power settings
Comment[fr]=Gérer le profil thermique, la charge de la batterie et les réglages d'alimentation du BIOS
Exec=platform-power --minimized
Icon=io.github.nplacide95.PlatformPower
Terminal=false
StartupNotify=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
