[Desktop Entry]
Type=Application
Name=Platform Power
Name[fr]=Platform Power
Comment=Manage thermal profile, battery charging and BIOS power settings
Comment[fr]=Gérer le profil thermique, la charge de la batterie et les réglages d'alimentation du BIOS
Exec=platform-power
Icon=io.github.nplacide95.PlatformPower
Terminal=false
Categories=Settings;HardwareSettings;System;
StartupNotify=true
Keywords=dell;power;battery;thermal;peak shift;charge;bios;
